<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div id="wrapper">
      <div id="app">
      </div>

<footer class="container-fluid text-center">
  <p>BLANK - Created by JAM TANK - Copyright ©2017 - About - <a href="mailto:alex@alexpchan.com?Subject=Blank!" target="_top">Contact</a></p>
</footer>
  </div>
</body>
</html>

