
$font-stack:    Helvetica, sans-serif;
$primary-color: pink;
$red: #ef2929;
$green:#8ae234;
html, body, #wrapper{
  height: 100%;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
#mainMenu .btn{
  margin:10px 0px;
}
.booty{
  font: 100% $font-stack;
  color: $primary-color;
  @include border-radius(10px);
}
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    //GAME SETUP
/*    #Category1 {
      .rc-slider-track{
      background-color:  $green;
      }
      .rc-slider-handle{
        border-color:$green;
      }
    }*/
    #Category2 
    {.rc-slider-track{
    background-color:  $red;
    }
    .rc-slider-handle{
      border-color:$red;
    }
}
    #Category3 {
      .rc-slider-track{
      background-color:  $green;
      }
      .rc-slider-handle{
        border-color:$green;
      }
    }
